extends layoutwithoutcategories.pug

include testUtils.pug

append head

block content
    <div class="container">
    <form action='/categories' method='post'>
        input(type='hidden' name='_csrf' value=csrfToken)
        <div class="row">
            <h1 style="text-align:center">#{title}</h1>
            +validationErrorSummary(errors)
            <div class="col">
            label(for="title") Category title:
                input(type="text" name="title" placeholder="Name your category!")
            <div class="col">
            input(type="submit" style="color:white" class="btn" id="addTask" value="Add Category")
            //- <a type="submit" value="Login" style="color:white" class="btn" id="addTask">Add Task </a>
        </div>
        <div class="col">
            <a href="/tasks" style="color:white" class="btn" id="cancelTask">Cancel</a>
        </div>
        </div>
    </form>
    </div>
    </div>
    </div>

