extends layoutwithoutcategories.pug

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  link(rel="stylesheet" href="/stylesheets/index2.css")

block content
  .splash_background
  .quoteDiv
    button(id='quoteButton') Generate Quote
