extends testLayoutnavbar.pug

include testUtils.pug

append head

block content
    <div class="container">
    <form action='/users/login' method='post'>
        input(type='hidden' name='_csrf' value=csrfToken)
        <div class="row">
            <h1 style="text-align:center">#{title}</h1>
            +validationErrorSummary(errors)
            <div class="col">
                input(type="text" name="email" placeholder="Email" required)
                input(type="password" name="password" placeholder="Password" required)
                input(type="submit" value="Login")
            </div>
             <div class="col">
            <a href="/users/register" style="color:white" class="btn" id="grabMe">Sign up</a>
        </div>
        <div class="col">
            <a href="/users/demo" style="color:white" class="btn" id="grabMeToo">Demo User</a>
        </div>
        </div>
    </form>
    </div>

    //- <div class="bottom-container">
    //- <div class="row">
    //-     <div class="col">
    //-         <a href="#" style="color:white" class="btn" id="grabMe">Sign up</a>
    //-     </div>
    //-     <div class="col">
    //-         <a href="#" style="color:white" class="btn" id="grabMeToo">Demo</a>
    //-     </div>
    </div>
    </div>
