extends layout.pug

include testUtils.pug

append head

block content
    div(class='loginForm')
        +validationErrorSummary(errors)
        form(action='/users/login' method='post' class='formDiv')
            input(type='hidden' name='_csrf' value=csrfToken)

            +field('Email Address', 'email', email)
            div(class='form-group')
            label(for="password") Password
            input(type='password' id="password" name='password' value=null)
            div(class='py-4')
            button(type='submit') Login
            a(href='/') Cancel
        div
            p: a(href='/users/register') Don't have an account?
