extends layoutwithoutcategories.pug

include testUtils.pug

append head

block content
    <div class="container">
    <form action='/users/login' method='post'>
        input(type='hidden' name='_csrf' value=csrfToken)
        <div class="row">
            <h1 style="text-align:center">#{title}</h1>
            //- +validationErrorSummary(errors)
            <div class="col">
            label(for="title") Title:
                input(type="text" name="title" placeholder="Task title")
            label(for="title") Details:
                textarea(type="text" name="title" placeholder="Add some detail!")
                label(for="category") Category:
                select(name="category")
                    each category in categories
                        option(value=category.id)= category.title
                label(for="due") Due:
                input(type="datetime-local" name="due")
                label(for="public") Privacy:
                select(name="public")
                    option(value="false") Private
                    option(value="true") Public
            </div>
             <div class="col">
            <a href="/tasks" style="color:white" class="btn" id="addTask">Add Task </a>
        </div>
        <div class="col">
            <a href="/tasks" style="color:white" class="btn" id="cancelTask">Cancel</a>
        </div>
        </div>
    </form>
    </div>
    </div>
    </div>
