extends testLayoutnavbar.pug

append head
  link(rel="stylesheet" href="/stylesheets/superTestMyTasks.css")

block content
    <div class="whitespace">
        <h2>Workouts<small></small></h2>
        <ul class="responsive-table">
            <li class="table-header">
            <div class="col col-1">Title</div>
            <div class="col col-2">Details</div>
            <div class="col col-3">Category</div>
            <div class="col col-4">Due</div>
            <div class="col col-4">Actions</div>
            //- <div class='btn col-5'>Testing</div>
            </li>
            each incompleteTask in incompleteTasks
                <li class="table-row">
                div(class="col col-1")= incompleteTask.title
                div(class="col col-2")= incompleteTask.details
                div(class="col col-3")= incompleteTask.Category.title
                div(class='col col-4')= incompleteTask.due
                //- <div class="col col-4">:00pm</div>
                button(class='btn' id='taskComplete') Complete
                button(class='btn' id='taskEdit') Edit
                button(class='btn' id='taskDelete') Delete
                //- button(class='btn' id='smallerBtn') Delete
            //- <div class="col col-4" data-label="Payment Status">Buttons</div>
            </li>
            //- <li class="table-row">
            //- <div class="col col-1" data-label="Job Id">42442</div>
            //- <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
            //- <div class="col col-3" data-label="Amount">$220</div>
            //- <div class="col col-4" data-label="Payment Status">Pending</div>
            //- </li>
            //- <li class="table-row">
            //- <div class="col col-1" data-label="Job Id">42257</div>
            //- <div class="col col-2" data-label="Customer Name">John Smith</div>
            //- <div class="col col-3" data-label="Amount">$341</div>
            //- <div class="col col-4" data-label="Payment Status">Pending</div>
            //- </li>
            //- <li class="table-row">
            //- <div class="col col-1" data-label="Job Id">42311</div>
            //- <div class="col col-2" data-label="Customer Name">John Carpenter</div>
            //- <div class="col col-3" data-label="Amount">$115</div>
            //- <div class="col col-4" data-label="Payment Status">Pending</div>
            //- </li>
        </ul>
        <div class="whitespaceAgain">
        <h2>Completed<small></small></h2>
        <ul class="responsive-table">
            <li class="table-header">
            <div class="col col-1">Title</div>
            <div class="col col-2">Details</div>
            <div class="col col-3">Category</div>
            <div class="col col-4">Due</div>
            <div class="col col-4">Actions</div>
            //- <div class='btn col-5'>Testing</div>
            </li>
            <li class="table-row">
            <div class="col col-1">Jog</div>
            <div class="col col-2">Go running for 40 miles, then jump off a bridge </div>
            <div class="col col-3" data-label="Amount">Cardio</div>
            <div class="col col-4" data-label="Payment Status">6:00pm</div>
                button(class='btn' id='taskDeleteButton') Delete
                //- button(class='btn' id='smallerBtn') Delete
            //- <div class="col col-4" data-label="Payment Status">Buttons</div>
            </li>
    </div>
    </div>
