doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel="stylesheet", href="/stylesheets/login.css")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/index.css")
  body
    header.header
      h2.name REQ<b>.</b>BODY
      .tabs
      if locals.authenticated
        h6
          .addTask
          a(href='/tasks' style="text-decoration:none") Random Task
            //- button(id='add_task') random Task
        h6
          .randomTask
          a(href='/tasks/create' style="text-decoration:none") Add Task
            //- button(id='add_task') Add Task
        h6
          a(href="/tasks" style="text-decoration:none") Home
        h6
          a(href="/tasks" style="text-decoration:none") My Tasks
        h6
          a(href="/users/logout" style="text-decoration:none") Logout
      else
        h6
          a(href="/users/login" style="text-decoration:none") Login
        h6
          a(href="/users/register" style="text-decoration:none") Signup
    .body
      if locals.authenticated
        nav.side-bar
            ul
              li
                a(href='/categories/create') Add a category
                //- add a category/ regular first then ajax if possible
                each category in categories
                  li
                    a(href=`/categories/${category.id}`)
                      span #{category.title}
      block content
