extends testLayout.pug

include testUtils.pug

block content
    +validationErrorSummary(errors)
    form(action='/users/register' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Username', 'username', user.username)
        +field('First Name', 'firstName', user.firstName)
        +field('Last Name', 'lastName', user.lastName)
        +field('Email Address', 'email', user.email)
        label(for="password") Password
        input(type='password' id="password" name='password' value=null class='form-control')
        div
        small(id='passwordHelpBlock' class="form-text text-muted") Password must contain at least 1 lowercase letter, uppercase letter, number, and special character i.e. !@#$%^&*
        div
        label(for="confirmPassword") Confirm Password
        input(type='password' id="confirmPassword" name='confirmPassword' value=null class='form-control')
        div(class='py-4')
            button(type='submit' class='btn btn-primary') Register
            a(href='/' class='btn btn-warning ml-2') Cancel
    div
    p: a(href='/users/login') Already have an account?
